name: redoc

on:
  push:
    branches: [ "main" ]
    paths:
      - 'openapi.yaml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Build ReDoc HTML
        run: |
          npm install -g redoc-cli
          redoc-cli bundle openapi.yaml
          mkdir pages
          mv redoc-static.html pages/openapi.html

      - uses: actions/upload-artifact@v4
        with:
          path: pages
      - uses: actions/upload-pages-artifact@v3
        with:
          path: pages

  deploy:
    needs: build
    runs-on: ubuntu-latest 
    timeout-minutes: 5
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
