name: test

on:
  pull_request:
  workflow_dispatch:

env:
  SWIFT_VERSION: "5.10"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Swift
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: ${{ env.SWIFT_VERSION }}

      - name: Run tests
        run: swift test --enable-test-discovery
